body {
  display: flex;
  height: 100vh;
  justify-content: center;
  background-color: #f0e9fc;
  font-family: "Montserrat", sans-serif;
}
.name-inputs,
.address-inputs {
  display: flex;
  flex-direction: column;
  margin: 1em auto;
  font-size: 1em;
  line-height: 2em;
}
.form-input {
  display: flex;
}
h1 {
  text-align: center;
  color: lightsalmon;
}
.full-name-sec {
  display: flex;
}
input[type="text"]:focus {
  background: lightblue;
}
input:active {
  transition: background 0.5 linear 0s;
}
input {
  line-height: 2em;
}
select {
  padding: 0.5em;
}
